.loading {
  width: 40px;
  height: 40px;
  animation: rotator 1.6s linear 0.35s infinite;
}

@keyframes rotator {
  0% {
    transform: rotate(-90deg);
  }

  100% {
    transform: rotate(180deg);
  }
}

.loading circle {
  stroke-dasharray: 114;
  stroke-dashoffset: 0;
  transform-origin: center;
  stroke: #2860d8;
  animation:
    spin-hidden 0.35s ease-in-out,
    spin-fade-in 0.05s ease-in-out 0.35s forwards,
    spin-dash 1.6s ease-in-out 0.35s infinite;
}
@keyframes spin-hidden {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}
@keyframes spin-fade-in {
  0% {
    opacity: 0;
  }

  87.5% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes spin-dash {
  0% {
    stroke-dashoffset: 111;
  }

  50% {
    stroke-dashoffset: 28.5;
    transform: rotate(135deg);
  }

  100% {
    stroke-dashoffset: 111;
    transform: rotate(450deg);
  }
}
/** ローディング関係以外 **/
html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
}

h1 {
  font-weight: 200;
  font-family: serif;
  margin-bottom: 40px;
}

section {
  text-align: center;
  font-size: 14px;
}
section, svg.loading {
  margin: auto 0;
}

button {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.hidden {
  display: none;
}

button.next {
  padding: 8px 20px;
  font-size: 20px;
  min-width: 160px;
  border-radius: 6px;
  border: none;
  background-color: #2860d8;
  color: #ffffff;
  cursor: pointer;
  width: 100%;
}

button.reset {
  padding: 8px 20px;
  font-size: 14px;
  min-width: 160px;
  border-radius: 6px;
  border: none;
  background-color: transparent;
  color: #2860d8;
  cursor: pointer;
  text-decoration: underline;
}

.content .main {
  font-size: 28px;
  margin-bottom: 8px;
}

.error-content {
  text-align: center;
}
.error-content .error-message {
  font-size: 24px;
  color: red;
}


section.hidden {
  display: none;
}

.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

fieldset {
  display: flex;
  gap: 4px;
  border: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

fieldset .title {
  width: 100px;
  text-align: right;
}
fieldset .value {
  width: 75px;
  text-align: right;
}
fieldset .controls {
  display: flex;
  width: 100px;
  gap: 4px;
  justify-content: end;
}


fieldset button {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: transparent;
  color: #444444;
  cursor: pointer;
  transition: all 0.3s ease;
}


fieldset button svg {
  width: 12px;
  height: 12px;
}

@media (hover: hover) {
  fieldset button:hover {
    background-color: #f0f0f0;
  }
  fieldset button:active {
    transform: scale(0.92);
  }
}

@media (hover: none) {
  fieldset button {
    transition: all 0.6s ease;
  }
  fieldset button:active {
    transform: scale(1.15);
    background-color: #f0f0f0;
  }
}

fieldset button:disabled {
  color: #dadada;
}

button.check svg {
  color: #444444;
}

button.check.off svg {
  color: #bababa;
}

.normal-loading {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid #2860d8;
  border-top-color: transparent;
  animation:
    rotatation 1s linear infinite;
}

.normal .delay-field, .normal .min-duration-field {
  opacity: 0.3;
}

@keyframes rotatation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
