.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

fieldset {
  display: flex;
  gap: 4px;
  border: none;
  padding: 0;
  margin: 0;
  align-items: center;
}

fieldset .title {
  width: 100px;
  text-align: right;
}
fieldset .value {
  width: 75px;
  text-align: right;
}
fieldset .controls {
  display: flex;
  width: 60px;
  justify-content: end;
}


fieldset button {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: transparent;
  color: #444444;
  cursor: pointer;
}

fieldset button svg {
  width: 12px;
  height: 12px;
}
fieldset button:hover {
  background-color: #f0f0f0;
}

fieldset button:disabled {
  color: #dadada;
}

button.check svg {
  color: #444444;
}

button.check.off svg {
  color: #dadada;
}

.normal-loading {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 4px solid #2860d8;
  border-top-color: transparent;
  animation:
    rotatation 1s linear infinite,
    fade-in 1s linear;
}

@keyframes rotatation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
